@font-face {
  font-family: "Montserrat";
  src: url("../Assets/Fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Bebas";
  src: url("../Assets/Fonts/Bebas-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Matchbook";
  src: url("../Assets/Fonts/Matchbook.otf") format("opentype");
}
