@import "./Components/Fonts.css";

.pTripCard {
  background: #bdbdbd;
  width: 300px;
  border: 1px solid;
  font-family: Montserrat, serif;
}

.content {
  width: 100%;
  text-align: left;
}
.extra {
  ul {
    list-style: none;
    padding: 0;
  }
  .ui .button {
    background: none;
  }
}

.card-image {
  img {
    width: 100%;
    border-radius: 5px;
  }
}
