@import './Components/Fonts.css';

.footer{
    margin: 0 auto;
    max-width:80%;
    font-family: 'Montserrat', serif;
  
    .footer-nav {
    padding:50px 0;
    
    a {
    margin: 0 20px;
    color: #292929;
    text-decoration: none;

    
     }
  }
}
  
  
